<!DOCTYPE html>
<html lang="en">
    <head charset ="UTF-8">
        <title>
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
    </style>
      </title>  
    </head>
    <body>
        <h1>Student SCANNER</h1>
        <h2>ATTANDANCE SCANNER</h2>
        <p></p>

        <form action="/scan" method="POST">
            <input name="url" type="text"placeholder ="URL">
            <input type="submit" value="GET QR"> 
       
    </form>
    </body>
</html>